:host ::ng-deep div  {
    height: 100vh;
} 
h3 {
    color:#524747 ;
}
.hero-header > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.993); 
}
.container{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}

.card {
    background-color: #ebebeb;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 350px;
    position: relative;
}
.icon {
    color: #fff;
    font-size:18px;
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.hero-header {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
}



.hero-content{
    padding-top: 8px;
    display: block;
    height: 120px;
    flex-grow: 1;
    background: linear-gradient(38deg, rgb(3, 3, 3) 0%, rgba(0, 0, 0, 0.719) 50%, rgb(8, 8, 8) 100%);
    position: relative;
    padding-bottom: 20px;
   
}

.favorite--color{
    margin-top: 0;
    position: relative;
    width: calc(100% -20px);
    height:6px;
   
}
.span--color-favorite{
    border-top: 3px solid rgba(202, 202, 6, 0.596);
    transition: all 0.2s ease-in-out;
}
.hero-content > span {
    display: block;
    padding: 0 12px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.76);
}
.icon-yellow {
    color: yellow;
}
.icon-favorites {
    color: yellow;
}
