<div class="container">
    <div *ngFor="let ch  of characters; let index = index;" class="card">
        <div class="hero-header">
            <div>
                <img src="../../../assets/images/sw_logo_stacked-336c62367939.png" alt="">
            </div>
        </div>
        <div class="hero-content" [class.span--color-favorite]="ch.favorite" >
            <span style="font-size: 18px;">{{ch.name}}</span>
            <span>{{ch.height}}</span>
            <span>{{ch.gender}}</span>
            <span>{{ch.hair_color}}</span>
            <span>{{ch.skin_color}}</span>
            <fa-icon class='icon' [icon]="faStar" (click)="addTofavorite(index)"   [class.icon-yellow]="ch.favorite"></fa-icon>
        </div>
    </div>
</div>
