.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    font-family: sans-serif;
  }
  .icon {
    font-size: 12px;
    text-align: center;

  }
  .navbar a {
    float: left;
    margin: auto;
    height: 100%;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    align-self: center;
    
  }
  .navbar a:hover {
    background-color: #000;
  }
  .active {
    background-color: #000;
  }

  .bg-image{
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/bg.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }