.container{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.card {
    background-color: #ebebeb;
    margin: 10px;
    display: flex;
    flex-direction: column;

}