<div class="container">
    <div *ngIf="empty">You have no favorite Character</div>
    <div *ngFor="let ch  of favorites; let index = index;" class="card">
        <div class="hero-header">
            <div><img src="../../../assets/images/sw_logo_stacked-336c62367939.png" alt=""></div>
        </div>
        <div class="hero-content">
            <span>{{ch.name}}</span>
            <span>{{ch.height}}</span>
            <span>{{ch.gender}}</span>
            <span>{{ch.hair_color}}</span>
            <span>{{ch.skin_color}}</span>
            <fa-icon class='icon' [icon]="faStar" (click)='remove(ch.name)' [class.icon-yellow]="ch.favorite"></fa-icon>
        </div>
    </div>

</div>
